@charset "UTG-8";
/* mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-image: url("../imagens/bg-mobile.svg");
        background-size: cover;
        background-position: center center;
        height: 900px;
    }
    main{
        height: 700px;
        display: block;
        margin: auto;
    }
    article{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    aside{
        margin-right: 40px;
        width: 300px;
        margin: auto;
        margin-top: 100px;
    }
    img#mockup{
        height:50vh;
        width: 65vw;
        margin: auto;
    }
    aside > h1{
        margin-top: 10px;
        padding: 25px;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    aside > p{
        width: 250px;
        color: rgb(255, 253, 253);
        padding-left: 25px;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: justify;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
        margin: auto;
    }
    #button{
        height: 30px;
        width: 30px;
        padding: 25px;
        margin-top: 10px;
        margin-left: 50px;
    }
    aside > #button > a{
        text-decoration: none;
        color:hsl(257, 56%, 50%);
        background-color: white;
        padding: 12px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        box-shadow: 1px 1px 10px black;
    }
    footer > #icon > a > img{
        float: none;
        margin: auto;
        height: 32px;
        width: 32px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
}
/* ipads,tablets */
@media screen and (min-width:481px) and (max-width:768px) {
    main{
        display: block;
    }
    article{
        margin: auto;
    }
    img#mockup{
        width: 73vw;
    }
    aside{
        margin: auto;
        margin-top: 30px;
        width: 450px;
    }
    aside > h1{
        font-size: 20px;
        text-align: center ;
    }
    aside > P{
        font-size: 15px;
        width: 400px;
    }
    #button{
        height: 50px;
        width: 50px;
        margin-left: 120px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    footer > #icon > a > img{
        float: none;
    }
}