@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-image: url(../imagens/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
}
header > img{
    padding: 40px;
}
img#logo{
    height: 40px;
}
main{
    display: flex;
    justify-content: space-around;
}
/* article */
article{
    max-width: 800px;
    height: 430px;
}
img#mockup{
    max-height: 45vw;
    max-width: 45vw;
    padding: 30px;
    margin-left: 40px;
}
/* aside */
aside{
    margin-right: 40px;
    width: 500px;
}
aside > h1{
    margin-top: 10px;
    padding: 25px;
    color: white;
    font-size: 44px;
}
aside > p{
    color: rgb(255, 253, 253);
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: justify;
}
#button{
    padding: 25px;
    margin-top: 10px;
}
aside > #button > a{
    text-decoration: none;
    color:hsl(257, 56%, 50%);
    background-color: white;
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
}
aside > #button > a:hover{
    background-color: rgba(0, 0, 0, 0.621);
    color: wheat;
    transition: 0.8s;
}
/* footer */
footer > #icon > a > img{
    float: right;
    height: 32px;
    width: 32px;
    margin: 0px 8px 0px 8px;
}
footer > #icon{
    padding: 20px;
    padding-right: 30px;
}