.partnersContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .contentPartners{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}