@media screen and (max-width:700px){
    #img{
        height: 100vh;
    }
    /*header*/
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 80px;
    }
    /*main */
    main #clique{
        padding: -30px;
        margin-left: 40px;
        display: block;
        margin: auto;
    }
    main > p{
        text-align: center;
    }
    #sinopsis{
        width: 400px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .watch{
        padding: 10px;
        display: block;
        margin-top: 10px;
    }
    nav#clique{
        margin-top: 30px;
        margin-right: 70px;
    }
}
@media screen and (max-width:600px){
    #img{
        height: 100vh;
    }
    /*header*/
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 80px;
    }
    /*main */
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        margin-right: 40px;
        margin-top: 10px;

    }
    nav#clique{
        margin-top: 30px;
    }
}
@media screen and (max-width:500px){
    #img{
        height: 100vh;
    }
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    main > p{
        margin-left: 0px;
    }
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 40px;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        margin-top: 10px;
        margin-right: 40px;
    }
    nav#clique {
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width:400px){
    #img{
        height: 100vh;
    }
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    main > p{
        margin-left: 0px;
    }
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 40px;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        display: block;
        margin: auto;
    }
    nav#clique {
        margin: auto;
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width:300px){
    #img{
        height: 100vh;
    }
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    main > p{
        margin-left: 0px;
    }
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 40px;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        display: block;
        margin: auto;
    }
    nav#clique {
        margin: auto;
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width:200px){
    #img{
        height: 100vh;
    }
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    main > p{
        margin-left: 0px;
    }
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 40px;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        display: block;
        margin: auto;
    }
    nav#clique {
        margin: auto;
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width:100px){
    #img{
        height: 100vh;
    }
    main{
        padding: -30px;
        margin-left: 0px;
        display: block;
    }
    main > p{
        margin-left: 0px;
    }
    nav{
        padding: 0px;
    }
    nav a{
        margin: 8px;
    }
    .cadastro{
        margin-left: 40px;
    }
    #sinopsis{
        width: 400px;
    }
    .watch{
        padding: 10px;
        display: block;
        margin: auto;
    }
    nav#clique {
        margin: auto;
        display: block;
        margin-top: 10px;
    }
}