*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Background apliccation */
  background-color: #181818;

  /* All text color */
  color: white;
}

/* Button reset */
button{
  border:none;
  cursor: pointer;
}